<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">

	<!-- 영상의 모든 리뷰 조회 -->
	<select id="selectReviewsByVideo" resultType="review"
		parameterType="int">
		SELECT * FROM reviews WHERE video_id = #{videoId}
	</select>

	<!-- selectReview 쿼리 -->
	<select id="selectReview" resultType="review"
		parameterType="int">
		SELECT * FROM reviews
		WHERE video_id = #{videoId}
		AND
		review_id = #{reviewId}
	</select>

	<!-- insertReview 쿼리 -->
	<insert id="insertReview" parameterType="map">
		INSERT INTO reviews (video_id, user_id, title, user_name, content)
		VALUES (#{videoId}, #{review.writerId}, #{review.title}, #{review.writer},
		#{review.content})
	</insert>

	<!-- updateReview 쿼리 -->
	<update id="updateReview" parameterType="map">
		UPDATE reviews
		SET content = #{content}
		WHERE video_id = #{videoId}
		AND review_id = #{reviewId}
	</update>

	<!-- deleteReview 쿼리 -->
	<delete id="deleteReview" parameterType="int">
		DELETE FROM reviews
		WHERE video_id = #{videoId}
		AND review_id = #{reviewId}
	</delete>

	<!-- updateReviewViewcnt 쿼리 -->
	<update id="updateReviewViewcnt" parameterType="int">
		UPDATE reviews
		SET review_view_cnt = review_view_cnt+1
		WHERE video_id = #{videoId}
		AND review_id = #{reviewId}
	</update>

</mapper>