<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 네임스페이스에 DAO 풀패키지명을 작성 -->
<mapper namespace="com.ssafy.board.model.dao.BoardDao">
	
	<!-- 전체 게시글 조회 -->
	<select id="selectAll" resultType="board">
		SELECT id, content, writer, title, view_cnt, date_format(reg_date, '%y-%m-%d') AS reg_date FROM board;
	</select>
	
	<!-- 상세 게시글 조회 -->
	<select id="selectOne"  resultType="board" parameterType="int">
		SELECT * FROM board
		WHERE id = #{id};
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertBoard" parameterType="Board" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO board (title, writer, content)
		VALUES (#{title}, #{writer}, #{content});
	</insert>
	
<!-- 트랜잭션 테스트를 위한 임시 코드  	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (id, title, writer, content)
		VALUES (#{id}, #{title}, #{writer}, #{content});
	</insert> -->

	<!-- 게시글 삭제  -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE id = #{id};
	</delete>
	
	<!-- 조회수 증가 -->
	<update id="updateViewCnt" parameterType="int">
		UPDATE board
		SET view_cnt = view_cnt+1
		WHERE id = #{id};
	</update>
	
	<!-- 게시글 수정 -->
	<!-- 만약에 날짜가 수정날짜 였다면 같이 수정해줘야된다. -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET title = #{title}, content = #{content}, reg_date = now()
		WHERE id = #{id};
	</update>
	
	<!-- 검색기능 -->
	<select id="search"  resultType="board" parameterType="SearchCondition">
		SELECT id, content, writer, title, view_cnt, date_format(reg_date, '%y-%m-%d') AS reg_date 
		FROM board
		<!-- 동적쿼리(검색 조건) -->
		<if test="key != null">
			WHERE ${key} LIKE concat('%', #{word}, '%')
		</if>
		<!-- 동적쿼리(정렬 조건) -->
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>	
			
	</select>
	
	
	
	
	
	
</mapper>