<?xml version="1.0" encoding="UTF-8"?> 
<!-- 3. XML에서 SqlSessionFactory 빌드하기 -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 4. 알아서 알아 먹어 -->
	<typeAliases>
	<typeAlias type="com.ssafy.board.model.dto.Board" alias = "Board"/>
	</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ssafy_board?serverTimezone=UTC" />
        <property name="username" value="$ssafy"/>
        <property name="password" value="$ssafy"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
 	<mapper resource = "mapper/boardMapper.xml"/>
  </mappers>
</configuration>