<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ssafy.ssaccer.model.dao.TeamRecruitmentBoardDao">

	<!-- 전체 게시글 조회 및 검색기능 -->
	<!-- SELECT id, content, writer, title, view_cnt, date_format(reg_date, 
		'%Y-%M-%d') AS reg_date -->
	<!-- 동적쿼리(검색 조건) -->
	<!-- <if test="key != 'none'"> WHERE ${key} LIKE concat('%', #{word}, '%') 
		</if> -->

	<!-- 동적쿼리(정렬 조건) -->
	<!-- <if test="orderBy != 'none'"> ORDER BY ${orderBy} ${orderByDir} </if> -->
	<select id="search" resultType="TeamRecruitmentBoard"
		parameterType="SearchCondition">
		SELECT * FROM team_recruitment_board trb
		<where>
			<if test="key != 'none'">
				AND ${key} LIKE CONCAT ('%', #{word}, '%')
			</if>
			<if test="region != ''">
				AND trb.team_id IN (
					SELECT team_id
					FROM TEAM
					WHERE region = #{region}
				)
			</if>
		</where>
		<!-- 동적쿼리(정렬 조건) -->
		<if test="orderBy != 'none'">
			ORDER BY ${orderBy} ${orderByDir}
		</if>
	</select>

	<!-- 상세 게시글 조회 -->
	<select id="selectOne" parameterType="int">
		SELECT *
		FROM
		team_recruitment_board
		WHERE id = ${id};
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertBoard" keyProperty="teamRecruitmentId"
		useGeneratedKeys="true">
		INSERT INTO team_recruitment_board (title, team_id,
		content)
		VALUES (#{title}, ${teamId}, #{content});
	</insert>


	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
		team_recruitment_board
		WHERE id = #{id};
	</delete>

	<!-- 조회수 증가 -->
	<!-- <update id="updateViewCnt" parameterType="int"> UPDATE team_recruitment_board 
		SET view_cnt = view_cnt+1 WHERE team_recruitment_id = #{id}; </update> -->

	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE team_recruitment_board
		SET title = #{title}, content = #{content}
		<if test="status != ''">
			, status = #{status}
		</if>
		WHERE id = ${id};
	</update>
</mapper>